body {
	background-color: $brand-gray-lt-2;
}

#page, #wrapper-footer {
	max-width: 1600px;
    margin: 0 auto;
    background: white;
}

.cats-grid {

	h2 {

		font-size: 1.5em;

	}

	.btn-link {

		text-transform: lowercase;
		color: $brand-secondary;

		&:hover, &:active {
			color: $brand-primary;
		}

	}

	article > div {

		border-radius: 2px;
	    border-top-left-radius: 0;
	    border-top-right-radius: 0;

	}

}

.full-text-section {

	padding-top: 3 * $spacer;	
	padding-bottom: 3 * $spacer; 

	> article {
		max-width: 70ch;

		h2 {
			margin-bottom: 2 * $spacer;
		}

		p {
			font-size: 1.125em;
		}
	}

}

.imgwrap-4-6 {

	height:0;
	width: 100%;
	padding-bottom: 66.666%;
	position: relative;
	overflow: hidden;
	display: block;

	> img {

		position: absolute;
		width: 111%;
		height: auto;
		top: 50%;
		left: -5.5%;
		max-width: none;
		transform: translateY(-50%);

	}

}

.no-crop {

	> img {

		position: absolute;
		width: 100%;
		height: auto;
		top: 50%;
		left: 50%;
		max-width: none;
		transform: translate(-50%, -50%);

	}
}

@include media-breakpoint-up(md) {

	#right-sidebar {

		padding-left: 3 * $spacer;	

	}
	#left-sidebar {

		padding-right: 3 * $spacer;	

	}

}

@include media-breakpoint-up(lg) {

	#right-sidebar {

		padding-left: 6 * $spacer;	

	}
	#left-sidebar {

		padding-right: 6 * $spacer;	

	}

}

