body {
	color: $brand-gray-dk;
}

.navbar, .bg-primary {
    @include smoothfont;
}

h1, h2, h3, h4, h5 {
	font-weight:700;
	@include smoothfont;
}

.divider-header {

	padding-top: 1.5 * $spacer;	
	padding-bottom: 1.5 * $spacer;

	margin:0;
	
	font-size:1.25em;

}

/* BUTTONS */

.navbar-toggler-right {
    right: .25rem;
    top: 3 * $spacer;
    border-radius: 0;
    border: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: $font-family-sans-serif;
}

.btn, .wpcf7 input[type=submit] {

    border-width: 2px;
    border-radius: 2px;
    @include labelfont;
	@include smoothfont;

}

.btn-primary {

    &:hover, &:active {
		color: white;
		opacity:1;
		background-color: $brand-gray-dk;
	    border-color: $brand-gray-dk;
    }
    &:focus{
        color:white;
    }
}

.btn-secondary,
.give-submit.give-btn {
    color: white;
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    opacity:1;

    &:hover, &:active {
    	color: white;
    	opacity:1;
    	background-color: $brand-gray-dk;
	    border-color: $brand-gray-dk;
    }
    &:focus{
        color:white;
    }

}

.give-submit.give-btn {
    border-width: 2px;
    border-radius: 2px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.btn-gray {
    color: white;
    background-color: $brand-gray-dk;
    border-color: $brand-gray-dk;
    opacity:1;

    &:hover, &:active {
    	color: $brand-gray-dk;
    	opacity:1;
    	background-color: $brand-primary;
	    border-color: $brand-gray-dk;
    }
    &:focus{
        color:white;
    }

}

.btn-outline-secondary {
    color: $brand-gray-dk-2;
    background-color: transparent;
    border-color: $brand-gray-dk-2;
    opacity:1;

    &:hover, &:active {
    	color: white;
    	opacity:1;
    	background-color: $brand-gray-dk;
	    border-color: $brand-gray-dk;
    }

}

.bg-primary, .bg-inverse {

	.btn-outline-secondary {
	    color: white;
	    border-color: white;

	    &:hover, &:active {
	    	color: $brand-gray-dk;
	    	background-color: white;
	    }

	}

}

.addtoany_share_save {
    @extend .btn;
    @extend .btn-gray;
}