section.home-banner {

	position: relative;
	background-color: $brand-gray-md;
	background-size: cover; 
	background-position: center center; 
	background-repeat: no-repeat;

	&:before {
		content:'';
		background-color: rgba(0,0,0,.4);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height:100%;

		@include media-breakpoint-down(lg) {

			background-color: rgba(0,0,0,.7);
		}
	}

	@include media-breakpoint-up(lg) {

		padding-top:10vh;
		padding-bottom: 10vh;

	}


}

section.home-eventpromo {

	@include media-breakpoint-up(lg) {
		.promo-text {
			padding-left: 6 * $spacer;
			padding-right: 3 * $spacer;
		}
	}

}

.featured-cat {

	margin-top: 3 * $spacer;

	h1 {
		font-size: 1.75em;
		margin-bottom: 1.5em;
	}

	.text {
		max-width: 60ch;
	}
}

.grid-sponsor {

	padding: 0 3rem;
    margin-bottom: 2rem;

	h2 {
		margin-top: $spacer;
		font-size: 1em;
		@include labelfont;

		color: $brand-gray-dk;
	}

}