.cat-nav-wrap {
	h3 {
		margin:0;
	}

	#togglefilters {
		margin:0;
		padding:8px;
		text-align: center;
		font-size: 16px;

		&:after {
			margin-left: .5em;
			position: relative;
		    display: inline-block;
		}

		@include media-breakpoint-up(md) {
			display:none;
		}
	}
}
.category-nav {

    text-align: center;
    display: inherit;

	li {
    	font-size: 1.125em;
    	display:block;
	    float:none;

    	&.current-menu-item {
    		text-decoration:underline;
    		opacity:.5;
    	}

    	a {
    		color: $brand-gray-dk;
			padding: 12px 2em;
			position: relative;

			&:hover, &:active {
				text-decoration:underline;
			}
    	}
    }
    @include media-breakpoint-down(md) {

    	padding:0;

    }

	@include media-breakpoint-up(md) {

	    display: flex;
	    justify-content: center;

	    li {

	    	&:not(:first-child) a:before {
			    content: '\2022';
			    position: absolute;
			    left: -.25em;
			    display: inherit;
			}
	    }

	}
}

.news-list {

	max-width: 85ch; 

	@include media-breakpoint-down(md) {
		article {
			padding: 0 15px;
		}
	}

	article:not(:last-child) {
		margin-bottom: 5*$spacer;
	}

	.understrap-read-more-link {
	    border: none;
	    background: transparent;
	    color: $brand-secondary;
	    padding: 0;
	    text-transform: lowercase;

		&:hover, &:active {
			color: $brand-primary;
		}
	}

	h2 {
		font-size: 1.375em;

		a {
			color:$brand-gray-dk;
		}

		&:hover, &:active {
			text-decoration:underline;
		}
	}

	.e-date-container {
		position: absolute;
		top: 0;
		right: 0;
		background: $brand-primary;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 0 2.5em;
		text-align: center;
		color: white;

		h4 {
			font-weight: 400;
			font-size: 1em;
			text-transform: uppercase;

			span.day {
				font-size:2em;
			}
			span.month {
				font-size: 1.25em;
   				letter-spacing: 1.5px;
			}
		}
	}

	.text-columns .entry-content > p:first-child {
	    -webkit-columns: 2 40ch;
	    -moz-columns: 2 40ch;
	    columns: 2 40ch;
		-webkit-column-gap: 3em;
		-moz-column-gap: 3em;
		column-gap: 3em;
	}

	.imgwrap-4-6 {
		background-color: $brand-gray-lt;
	}

}